/* reset */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black ;
    @font-face {
        font-family:'Montserrat';
        src: url('Montserrat-VariableFont_wght');  
    }

}

a{
    position: relative;
    color: rgba(214, 203, 203, 0.644);
    top: 50px;
   text-decoration: none;
}

a:hover{
    position: relative;
    color: white;
   text-decoration: none;

}

input::-webkit-input-placeholder{
    position: relative;
    left: 10px;
}

.container{
    position: absolute;
    height: 360px;
    width: 400px;
    background-color: rgba(54, 50, 50, 0.781);
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

.logo{
     /* Logo_topo_CheckApp 1 */
    position: absolute;
    font-size: 30px;
    width: 167px;
    height: 47px;
    left: 45%;
    transform: translateX(-50%);
    top: 60px;
    text-align: center;
    line-height: 70px;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    

}


.formContainer{
    width: 300px;
    margin: auto;
    
}


#usuario{
    border-radius: 7px;
    border: none;
    height:19px;
    padding: 10px;
    box-shadow: 0 0 0 0;
    outline: 0;
    width: 280px;
    margin-top: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    line-height: 360px;
}

#senha{
    border-radius: 7px;
    outline: 0;
    border: none;
    padding: 10px;
    border: none;
    text-decoration: none;
    height:19px;
    width: 280px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    line-height: 360px;

}

#enviar{
    height: 40px;
    width: 100px;
    float: right;
    color: white;
    background-color: yellow;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
}

#enviar:hover{
    height: 40px;
    width: 100px;
    float: right;
    color:  black;
    background-color: yellow;
    border-radius: 5px;
    margin-top: 15px;
    border: none;


}

#enviar:active{
    height: 40px;
    width: 100px;
    float: right;
    color:  black;
    background-color: yellow;
    border-radius: 5px;
    margin-top: 15px;
    border: solid black 1px;



}


@media screen and (max-width: 420px) {

    *{
        margin: 0;
        padding: 0;
    }

    body{
        background-image: none;
        background-color: rgb(211, 197, 197);
        /* background-size: cover; */
        background-size: cover;
        background-repeat: no-repeat;
        @font-face {
            font-family:'Montserrat';
            src: url('Montserrat-VariableFont_wght');
        }
    }



    .container{
        position: fixed;
        height: 320px;
        width: 360px;
        background-color: rgba(34, 31, 31, 0.781);
        border-radius: 20px;
        top: 50%;
        left: 50%;
       
    }

    a{
        position: relative;
        color: rgba(214, 203, 203, 0.644);
        top: 20px;
       text-decoration: none;
    }

}


